<!-- src/app/content-list/content-list.component.html -->
<div>
    <label for="titleToSearchFor">Title search:</label>
    <input type="text" id="titleToSearchFor" [(ngModel)]="searchTitle" autofocus>
    <button (click)="searchContent()">Search by Title</button>
  </div>
  
  <div class="title-error" [style.color]="searchResult === 'Content found!' ? 'green' : 'red'">
    {{ searchResult }}
  </div>
  
  <!-- Display the content list with a loop -->
  <div *ngFor="let type of ['Speedy', 'Classic', 'Historic']">
    <h2>{{ type }} List</h2>
    <div *ngFor="let content of contentItems | contentFilter: type" [class]="content.type">
      <div [class.highlight]="searchResult === content.title">
        <app-content-card [content]="content"></app-content-card>
      </div>
    </div>
  </div>