
.Speedy {
    background-color: #E78895; /* pink */
  }
  
  .Classic {
    background-color: #BED1CF; /* blue */
  }
  
  .Historic {
    background-color: #436850; /* green */
  }
  
  .highlight {
    border: 2px solid yellow;
  }
  
  .content-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  .not-found {
    color: red;
  }